<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- dataSource -->
	<!-- <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"> 
		<property name="url" value="${jdbc.url}"></property> <property name="username" 
		value="${jdbc.username}"></property> <property name="password" value="${jdbc.password}"></property> 
		</bean> -->

	<bean id="ds1" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${users.jdbc.driver}" />
		<property name="url" value="${users.jdbc.url}" />
		<property name="username" value="${users.jdbc.username}" />
		<property name="password" value="${users.jdbc.password}" />
		<property name="defaultAutoCommit" value="false"></property>
	</bean>
	<bean id="ds2" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${product.jdbc.driver}" />
		<property name="url" value="${product.jdbc.url}" />
		<property name="username" value="${product.jdbc.username}" />
		<property name="password" value="${product.jdbc.password}" />
		<property name="defaultAutoCommit" value="false"></property>
	</bean>
	<!--<bean id="dataSource" class="app.platform.mybatis.DynamicDataSource">-->
	<bean id="dataSource" class="com.jiuding.utils.DynamicDataSource">
		<property name="targetDataSources">
			<map key-type="java.lang.String">
				<entry value-ref="ds1" key="ds1"></entry>
				<entry value-ref="ds2" key="ds2"></entry>
			</map>
		</property>
		<property name="defaultTargetDataSource" ref="ds1"></property>      <!-- 默认使用ds1的数据源 -->
	</bean>

	<!-- sqlSessionFactory -->
	<bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 指定数据源 -->
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 配置mybatis -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 指定mybatis扫描package -->
		<property name="basePackage" value="com.jiuding.mapper" />
		<!-- 关联sqlSessionFactoryBean -->
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryBean" />
	</bean>





</beans>